:root {
  font-size: 18px;
  --color: #001f3f;
  --bg-color: #f6f5f4;
  --background: url(../img/gggrain.svg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  background: var(--background);
}

/* START: top navigation bar */
.navbar {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 12px 12px 24px #e2e1e0, -12px -12px 24px #ffffff;
  background-color: var(--bg-color);
}

h1 {
  padding: 1rem;
  text-align: center;
  color: var(--color);
}

/* setting toggle */
.btn-settings {
  margin: 1rem;
  background: none;
  border: none;
}

.btn-settings {
  right: 10px;
}
.btn-lists {
  left: 10px;
}

.btn:active {
  transform: translateY(2px);
}

.btn svg path {
  fill: grey;
}

.btn:hover svg path {
  fill: black;
}

/* list toggle */
#check {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  margin: 1rem;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 1.2rem;
}

.bar span {
  position: absolute;
  width: 35px;
  height: 3px;
  background: grey;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar:hover span {
  background: black;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 9px;
}

.bar span.bottom {
  bottom: 0;
}

#check:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 35px;
  left: 4px;
}

#check:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 35px;
  bottom: -6px;
}

#check:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}
/* END: top navigation bar */

/* START: vertical NavList */
.navlistbar {
  position: fixed;
  top: 4rem;
  width: 250px;
  height: 100vh;
  background-color: var(--bg-color);
  box-shadow: 12px 12px 24px #e2e1e0;
  transition: 0.3s ease;
}

.navlist li,
.newlist {
  margin: 2rem 1rem 1rem 1rem;
  list-style: none;
}

.navlist li:hover {
  color: green;
  cursor: pointer;
}

.newlist {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.newlist input {
  outline: none;
  padding-left: 1rem;
  height: 2.5rem;
  min-width: 150px;
  font-size: 18px;
  border: 1px solid var(--color);
  border-radius: 8px;
  background: var(--bg-color);
}

.newlist button {
  min-width: 2.5rem;
  height: 2.5rem;
  font-size: 25px;
  font-wight: bolder;
  border: 1px solid var(--color);
  border-radius: 8px;
  background: var(--background);
  transition: all 0.3s;
}
.newlist button:hover {
  transform: translateY(-2px);
  border-radius: 8px;
  background: var(--color);
  color: white;
}
/* END: vertical NavList */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 500px;
  padding: 2rem;
  margin: 10rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #f6f5f4;
  box-shadow: 12px 12px 24px #e2e1e0, -12px -12px 24px #ffffff;
}

ol {
  list-style: decimal;
  list-style-position: outside;
}

.input-form {
  margin-bottom: 0.5rem;
  width: 432px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 432px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 2rem;
}

.btn-add,
.input-form input {
  height: 3rem;
  font-size: 18px;
  border-radius: 8px;
}

.btn-add {
  width: 4rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background: var(--bg-color);
  border: 2px solid var(--color);
}

.btn-add:hover {
  transform: translateY(-2px);
  border-radius: 8px;
  background: var(--color);
  color: white;
}

.input-form input {
  width: 19rem;
  outline: none;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background: var(--background);
  box-shadow: inset 5px 5px 10px #d1d0cf;
}

.btn-close {
  border: none;
  background-color: var(--bg-color);
}

.btn-close:hover svg path {
  fill: red;
}
